.main-bg-roxo {
    background-color: #434cbf !important;
    box-shadow: 5px 10px;
}

.main-bg-rosxo {
    background-color: #B480AE !important;
}

.main-bg-vermelho {
    background-color: #EC8C8D !important;
}

.main-bg-mostarda {
    background-color: #DBDA99 !important;
}

.main-bg-amarelo {
    background-color: #a3c5b0 !important;
}

.main-bg-amarelo2 {
    background-color: #669c7b !important;
}

.main-bg-amarelo-height {
    background-color: #fbfbfb;
    height: 100%;
    background-image: url("9814.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 95%;
}

.main-bg-amarelo-height2 {
    background-color: #fbfbfb;
    height: 100%;
    background-image: url("9814.jpg");
    background-repeat: no-repeat;
    background-position: center 25%;
    background-size: 55%;
}

.main-bg-branco {
    background-image: url("inicio.jpeg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 40%;
    position: relative;
}

.main-bg-white {
    background-color: #fbfbfb;
}

.main-text-roxo {
    color: #B480AE !important;
}

.main-text-vermelho {
    color: #EC8C8D !important;
}

.main-text-mostarda {
    color: #DBDA99 !important;
}

.main-text-amarelo {
    color: #FBFBC7!important;
}

h1 {
    color: #111;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 300;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 1%;
}

.table {
    overflow-x: hidden !important;
}

.only-print {
    display: none;
}

@media print {
    .no-print {
        display: none;
    }
    .only-print {
        display: block;
    }
}